/*
As I said in index.html. :-D
@kaluaim
*/
html, body {
  color: #000;
  font-size: 14px;;
}

:lang(en) {
  font-family: 'Open Sans', Arial, serif;
  font-size: 1.1em;
}

:lang(ar) {
  font-family: "KacstOneRegular", sans-serif;
  font-size: 1.1em;
}

a {
  color: #57a3e8;
  text-decoration: none;
  transition: color ease 0.2s;
}

a:hover {
  color: #222;
}

main {
  margin: 6em 6em 0 6em;
  display: inline-flex;
}

main > div:lang(ar) {
  direction: rtl;
  margin: 0 0 0 5em;
}

@media(max-width:767px){
  html, body {
    font-size: 1.3em;
  }

  main {
    margin: 2em 2em 0 2em;
    display: block;
  }

  main > div:lang(ar) {
    direction: ltr;
    margin: 0;
  }
}

.title {
  font-size: 1.9em;
  font-weight: 700;
  margin-bottom: -0.2em;
}

.sub-title {
  color: #A0ADB5;
  font-family: 'Source Code Pro', monospace;
}

main ul {
  list-style-type: none;
  padding: 0;
  margin-top: 2em;
}

main li {
  margin-top: 0.4em;
}

@media(max-width:767px){
  .title {
    margin-top: 1em;
  }

  main ul {
    margin-top: 0.5em;
  }
}

footer {
  position: absolute;
  bottom: 0.5em;
  left: 1.5em;
}

footer a {
  color: #A0ADB5;
  opacity: 0.6;
}

footer a:hover {
  opacity: 1;
}

footer ul {
  list-style-type: none;
  padding: 0;
}

footer li {
  margin-top: 0.4em;
}

footer img {
  width: 20px;
  opacity: 0.05;
  transition: opacity ease 0.2s;
}

footer img:hover {
  opacity: 1;
}
